.cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  #appGoals {
    display: flex;
    flex-direction: column;

    #goalTitle {
      @include goalsText();
      letter-spacing: 2px;
      padding-top: 70px;
      padding-bottom: 0px;
      font-size: 3vw;
      width: 50%;
      min-width: 290px;
      margin: auto;
      margin-bottom: 10px;
      margin-top: unset;
      @media screen and (min-width: 360px) and (max-width: 768px) {
        min-width: 400px;
      }
    }

    #goalCaption {
      @include goalsText();
      letter-spacing: 2px;
      font-size: 1.4vw;
      width: 90%;
      min-width: 290px;
      margin: 0 auto;
      padding-bottom: 20px;
    }

    #goalDepiction {
      display: flex;
      justify-content: center;
      padding-top: 35px;

      .depictionCols {
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
        width: 30%;

        .depictionImg {
          flex: 1;
          height: 50%;
          width: 25%;
          margin: 0 auto;
        }

        .depictionText {
          @include goalsText();
          flex: 1;
          height: 20%;
          width: 60%;
          margin: 0 auto;
          padding-top: 20px;
          font-size: 1.4vw;
          letter-spacing: 1.7px;
        }
      }
    }
    #appGoalsBtn {
        padding-bottom: 50px;

      .site-button-ghost-wrapper {
        display: flex;
        padding-top: 20px;

        @media screen and (min-width: 1000px) {
          padding-top: 10px;
        }

        .ant-btn-background-ghost {
          margin: auto;
          color: white;
          background: $primaryTextColorYellow !important;
        }
      }
    }
  }
}
