.headerTitle {
  @include titleText();
  padding-top: 5%;
  padding-bottom: 1%;
  @media screen and (max-width: 400px) {
    font-size: 4vw;
  }
}

.captionTitle {
  @include captionText();
  @media screen and (max-width: 400px) {
    font-size: 3vw;
  }
}

.goalRow {
  display: block;
  text-align: center;
  flex-wrap: wrap;



  .feature {
    text-align: center;
    display: inline-block;
    padding: 5% 0 3% 0;


    img {
      min-width: 50px;
      min-height: 50px;
      display: block;
      margin: 0 auto;
      width: 7vw;
      margin-bottom: 5% !important;
    }

    p {
      @include genericText();
      max-width: 200px;

      margin: auto;
      @media screen and (max-width: 400px) {
        font-size: 2.5vw;
      }
    }
  }
}
#startBtn {
  margin: auto;
  padding-bottom: 4%;

  .site-button-ghost-wrapper {
    .ant-btn-background-ghost {
      color: $primaryBgColor;
      background: $primaryTextColorYellow !important;
    }
  }
}

