//@import './variables';

@mixin jumboText(){
  font-family: $primaryTextFont;
  color: white;
  font-weight: bolder;
  line-height: 1.2;
  letter-spacing: 5px;
}


@mixin goalsText(){
  text-align: center;
  font-family: $primaryTextFont;
  color: $primaryTextColor;
  font-weight: bolder;
  line-height: 1.2;
}