//Background
$primaryBgColor: white ; 
$secondaryBgColor: #212121;
$tertiaryBgColor: #c0c0c0;

//Text
$primaryTextColor: #212121;
$primaryTextColorYellow: #ffce06;
$primaryTextFont: "Antipasto", sans-serif;





