//Background
$primaryBgColor:#f5f5f5 ; 

//Text
$primaryTextColor:#303030;
$primaryTextColorYellow:#ffce06;

//Jumbotron component
$primaryJumboTextColor:#ffffff;

//card
$primaryBgCardColor:#ffffff;



