//Background
$primaryBgColor: white ; 
$secondaryBgColor: #212121;
$tertiaryBgColor: #d6d6d6;

//Text
$primaryTextColor: #212121;
$primaryTextColorYellow: #ffce06;
$primaryTextFont: "Antipasto", sans-serif;


//#d6d6d6



