@import "./functions.scss";
@import "./variables.scss";
@import '../components/Banner/banner';
@import '../components/Banner/bannerVariables';
@import '../components/LandingPage/landingPage';
@import '../components/BlockButton/button';
@import '../components/LandingPage/ratingPartners';
@import '../components/LandingPage/faqs';

body {
  padding: 0px;

  #root {
    display: flex;
    height: 100%;
    flex: 1;
    width: 100%;
  }
}


