@import "./functions.scss";
@import "./variables.scss";
@import '../components/Banner/banner';
@import '../components/Banner/bannerVariables';
@import '../components/Banner/displayModal';
@import '../components/CardComponent/displayCard';
@import '../components/LandingPage/landingPage';
@import '../components/LandingPage/landingPageVariables';
@import '../components/BlockButton/button';

body {
  display: flex;
  height: relative;

  #root {
    display: flex;
    overflow: hidden;
    flex: 1;
    width: 100%;
  }
}


