#imgHeader{
    position: relative;
    padding-top: 20px;
    max-width: 270px;
}

.container-fluid{
    padding: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/media/entrepreneur-working-on-his-macbook-2-picjumbo-com.52cd1be2.jpg) top center no-repeat !important;
    background-size: 100% 100% !important;
}

.displayText{
    @include jumboText();
    font-size: 11.5vh;
    padding-top: 2em;
    text-align: left;
    padding-left: 1.5em;
}
