footer.page-footer {
  bottom: 0;
  color: #fff;
  padding: 8%;
  background-color: $secondaryBgColor;

  img {
    min-width: 70px;
    min-height: auto;
    width: 15vw;
    height: auto;
  }

  h5 {
    cursor: pointer;
    color: $primaryTextColorYellow;
  }
}
