
.jumbo .taskslist{
    text-align: start;
    
}

.mottoRow.taskslist .motto.taskslist{
    margin-left: 20px;
    margin-bottom: 80px;
    padding-left: 16px;
    width:70%;
}

div.tasksfilter.row {
    top: -50px;
    right: -20px;
    color:$primaryTextColorYellow;
    font-size: 20px;
}

