.appBtn{
 justify-content: center;


.site-button-ghost-wrapper {
    display: flex;
    // padding-top: 20px;
    text-align: center;
    // justify-content: center;
    // width:20vh;
    // flex: 2 2 20em;
    // width: 20vh !important;



    // @media screen and (min-width: 1000px){
    //  padding-top: 50px;
    // }

    .ant-btn-background-ghost {
      margin: auto;
      color: $primaryTextColorYellow;
      background: transparent !important;
      border-color: $primaryTextColorYellow;
      border-radius: 30px;
      font-size: 0.8em;

 
    }

    .ant-btn {
      margin-top: 0px;
      height: 35px;
      width: 150px;
      // width: 20vh !important;
      // flex: 1 1;
      // flex: 1 2 1 auto;
      
      // min-width: 90px;

      // @media screen and (min-width: 0px) and (max-width: 360px) {
      //   width: 6.5em !important;
      //   height: 30px !important;
      //   font-size: 0.8em;
      //   padding: 0px;
      // }

      // @media screen and (min-width: 361px) and (max-width: 622px) {
      //   width: 8em !important;
      //   height: 35px !important;
      //   font-size: 1em;
      // }

      // @media screen and (min-width: 623px) and (max-width: 1299px) {
      //   width: 10em !important;
      //   height: 45px !important;
      //   font-size: 1em;
      // }

      // @media screen and (min-width: 1300px) {
      //   width: 12em !important;
      //   height: 50px !important;
      //   font-size: 1.5em;
      // }

    }
  }
}