.site-button-ghost-wrapper {
    display: flex;
    padding-top: 20px;

    @media screen and (min-width: 1000px){
     padding-top: 50px;
    }

    .ant-btn-background-ghost {
      margin: auto;
      color: $primaryTextColorYellow;
      background: transparent !important;
      border-color: $primaryTextColorYellow;
      border-radius: 30px;
      font-size: 0.8em;
    }

    .ant-btn {
      width: 10em !important;

      @media screen and (min-width: 0px) and (max-width: 622px) {
        width: 7em !important;
        height: 35px !important;
        font-size: 1em;
      }

      @media screen and (min-width: 623px) and (max-width: 1299px) {
        width: 12em !important;
        height: 40px !important;
        font-size: 1em;
      }

      @media screen and (min-width: 1300px) {
        width: 12em !important;
        height: 50px !important;
        font-size: 1.5em;
      }

    }
  }