@import "../Banner/bannerVariables";

#jumbo {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.6)),
    url($backgroundImg) top center no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding: 0 8% 4% 8% !important;
  //height: 85vh !important; //added

  #logoRow {
    border-bottom: 1px solid rgb(117, 99, 99);

    #logo {
      padding-top: 4%;
      padding-bottom: 2%;

      img {
        min-width: 70px;
        min-height: auto;
        width: 15vw;
        height: auto;
      }
    }
  }

  #motto {
    @include jumboText();
    // padding: 8% 0 2% 0;
    padding: 8% 0 2% 0; //added
    // max-width: 600px;
    max-width: 90%; //added 9em
    font-weight: bold; //added
    margin: auto;
    font-size: 6vw;
  }

  #mottoCaption {
    @include captionText();

    max-width: 85%; //added
    font-weight: bold; //added
    margin-bottom: 3vmin !important; //added
    color: white;
    padding-bottom: 2%;
    // font-weight: unset;
    // max-width: 550px;
    margin: 0 auto;
    @media screen and (max-width: 400px) {
      font-size: 3vw;
    }
  }

  #getStartedBtn {
    margin: auto;
  }
}
