.ant-modal-header{
    border: none !important;
}

.ant-modal-title{
    color:$primaryTextColor !important;
    font-size: 38px !important;
    font-weight: bolder !important;
    line-height: unset !important;
}

svg{
    float: left;
    padding-top: -13px;
    width: 1em;
    height: 2em;
    margin-right: 35px;
}

#btnLinkedIn{
    background: #2867B2;
    width: 70%;
    justify-items: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bolder;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    margin: 10px;
    display:inline-flex;
}

#btnGitHub{
    background: black;
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
    font-weight: bolder;
    width: 70%;
    height: 50px;
    padding-top: 5px;
    margin: 10px;
    
    display:inline-flex;
}

.anticon svg{
    color: black;
}

button.ant-btn{
    display: none;

    .ant-btn-primary{
        display: none;
    }

}

p{
    padding: 10px;
}
